.main-page{
    width: 100%;
    margin: auto;
    margin-top: 50px;

    .form-first-row{
        display: flex;
        justify-content: space-between;
        height: 55px;
        margin-bottom: 20px; 
    }

    .passengers-select{
        width: 70px;
    }

.form-card{
   // width: 850px;
    margin-bottom: 20px;

    .form-container{
        .search-form{
            margin-bottom: 5px;
        }

        .date-picker-field{
            width: 165px;
        }
        
        .search-button-div{
            text-align: center;
        }
        
        .radio-button-field{
            margin-right: 40px;
        }
        
        .autocomplete-field{
            width:160px;;
        }
        
        .airport-id{
            font-weight: bold;
        }
    }}
}

.is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }

  .form-fields{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
  }

  .results-content{
      display: flex;
      flex-direction: column;
  }
  .results-container{
      width: 410px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px;
    transition: 1s linear; 
    font-size: 12px;
  }

  .options-container{
      display: flex;
  }

  .search-by-container{
      margin-left: 15px;
      margin-right: 10px;
  }
  .search-by-title{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.search-by-button{
  font-size: 14px;
  height: 28px;
  align-items: center;
}

.outbound-date{
    margin-right: 15px;
}

.dates-container{
    width: 350px;
}

.days-off-display{
    width: 75px;
}

.mat-button-toggle-checked {
    background-color: #00b8d44a;
}

.dates-container > div{
    display: flex;
    justify-content: center;
}

.filters-display, .space-div{
    width: 181px;
    margin: 0 10px;
}

.mat-slider-track-fill {
    background-color: #b0b0b0 !important;
}

.slider-display{
    width: 300px;
}

.slider-display .mat-slider-thumb{
    box-shadow: 0 0 15px #ad1457;
    background-color: #ad1457 !important;
    border-color: #ad1457 !important;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ad1457;
    font-weight: bold;
}

.autocomplete-place-name{
    line-height: normal;
    white-space: normal;
    font-weight: bold;
    font-size: 14px;
}

.autocomplete-country-name{
    line-height: normal;
    font-size: 14px;
    color: gray;
}

.autocomplete-option{
    height: 55px;
}

.filter-expander{
    margin-bottom: 10px;
}

.price-slider-display{
    width: 160px;
    left: -8px;
}

.checkbox-container{
    display: grid;
}

.checkbox-hours{
    font-size: 10px;
    color: gray;
}

.example-tooltip-red {
    background: #b71c1c;
  }
  .example-container[_ngcontent-c3] {
      min-width: 50%;
  }
  form {
      height: 800px;
  }
  .mt-top {
      margin-top: 50px;
  }
  .mt-top-2[_ngcontent-c3] {
      margin-bottom: 72px;
  }
  .form-fields[_ngcontent-c2] {
      flex-direction: column;
  }
  mat-radio-group {
      width: 98px;
  }
  .search-by-container[_ngcontent-c2] {
      margin-right: 115px;
  }
  form 
  {
      height: 370px;
  }
  .mat-expansion-panel-content {
  .mat-expansion-panel-body {
      padding: 0 0 0;
      .results-container[_ngcontent-c2] {
          padding: 0;
      }
  }
}
  .mat-expansion-panel-header {
      font-size: 8px;
      //width: 68px;
  }
  .mat-card-header {
    .country-name[_ngcontent-c27] {
        font-size: 12px;
  }
  .trips-dates-display[_ngcontent-c27] {
    font-size: 10px;
  }
}
.mat-content {
    .flight-option-header[_ngcontent-c28] {
    justify-content: normal;
  .flight-hours[_ngcontent-c28] {
      width: 105px;
  }
}
}
.title-container {
.flight-option-title[_ngcontent-c28] {
    width: 68px;
}
}
.mat-accordion .mat-expansion-panel
{
    width: 334px;
}
.card-content {
    .select-price-container[_ngcontent-c27] {
        margin: 0 0;
    }
    .mat-raised-button {
        min-width: 50px;
        margin-right: 26px;
        padding: 0 4px;
    }
}
.mat-expansion-panel-header[_ngcontent-c2] {
    font-size: 18px;
}
.price {
    margin-right: 36px;
}